
body {
    margin: 0;
    padding: 50px;
    font-family: "Microsoft YaHei UI",微软雅黑,"Segoe UI", Verdana, Helvetica,黑体, Sans-Serif;
    -ms-transition: all ease 1s;
    -moz-transition: all ease 1s;
    -o-transition: all ease 1s;
    -webkit-transition: all ease 1s;
    transition: all ease 1s;
}

div.mainContainer {
    width: 800px;
    margin: 100px auto auto auto;
    padding: 10px 0 0 0;
    background-color: rgba(255,255,255,.95);
    box-shadow: 5px 10px 80px 5px rgb(150,150,150);
    border-radius: 25px 25px;
    overflow: hidden;
}

.titleArea {
    width: 800px;
    height: 75px;
    overflow: hidden;
    font-size: 50px;
    font-weight: 200;
    text-shadow: 5px 5px 25px #666;
    text-indent: 15px;
}

    .titleArea > div {
        float: left;
    }

.queryResult {
    width: 800px;
    margin: 10px 0 0 0;
    padding: 0;
    height: 450px;
}

.errorResult {
    width: 100%;
    height: 450px;
    background-color: #119cdd;
    font-size: 55px;
    font-weight: 100;
    color: white;
    text-indent: 1em;
    padding: 0 40px 0 40px;
    font-family: 'Segoe UI Light','Segoe UI','Microsoft YaHei UI',sans-serif;
}

    .errorResult > p {
        padding: 0;
        margin: 0;
    }

.resultNotFound {
    position: relative;
    top: 0;
    width: 100%;
    height: 420px;
    background-color: #119cdd;
    font-size: 55px;
    font-weight: 100;
    color: white;
    text-indent: 1em;
    font-family: 'Segoe UI Light','Segoe UI','Microsoft YaHei UI',sans-serif;
}

.successResult {
    width: 100%;
    height: 450px;
}

.briefDescription {
    color: white;
    background-color: #119cdd;
    height: 30px;
    width: 100%;
    padding-left: 15px;
    font-size: 18px;
    font-weight: 400;
    overflow: hidden;
    line-height: 30px;
}

#detialResult {
    height: 390px;
    overflow-x: hidden;
}

#resultTable {
    width: 99%;
    margin: 15px auto 3px auto;
}

thead > tr > td {
    color: #fff;
    background-color: #007acc;
}

tbody > tr:nth-child(2n+1) > td {
    background-color: #66bbff;
}

tbody > tr:nth-child(2n) > td {
    background-color: #aaefff;
}

#resultTable td {
    border: 1px solid #ccc;
    margin: 0;
    padding: 0;
    text-align: center;
    position: relative;
}

    #resultTable td > a {
        text-decoration: underline;
        color: #333;
        text-shadow:#eee,0,0,2px ,1px;
        cursor: pointer;
        -moz-transition: all ease 500ms;
        -o-transition: all ease 500ms;
        -webkit-transition: all ease 500ms;
        transition: all ease 500ms;
    }

        #resultTable td > a > div {
            position: absolute;
            bottom: 35px;
            border-radius: 10px;
            background-color: rgba(255,255,255,.8);
            box-shadow: #ccc 0 0 7px 1px;
            -moz-transition: all ease 500ms;
            -o-transition: all ease 500ms;
            -webkit-transition: all ease 500ms;
            transition: all ease 500ms;
            opacity: 0;
            pointer-events: none;
            line-height: 15px;
            color: #000;
            padding: 3px;
            z-index: 3;
        }

div.resultTooltip1 {
    width: 350px;
    left: -20px;
}

div.resultTooltip2 {
    width: 350px;
    left: -100px;
}

div.resultTooltip3 {
    width: 150px;
    left: -50px;
}
div.resultTooltip4 {
    width: 180px;
    left: -140px;
}

#resultTable td > a:hover {
    text-decoration: none;
    color: #91c;
}

    #resultTable td > a:hover > div {
        color: #000;
        opacity: 1;
        bottom: 22px;
    }

div.pageNavBox {
    color: white;
    background-color: #119cdd;
    height: 30px;
    width: 770px;
    padding: 0 15px 0 15px;
    font-size: 18px;
    font-weight: 400;
    overflow: hidden;
    line-height: 30px;
}

div.pageNavNums {
    float: right;
    padding: 0;
    margin: 0;
}

    div.pageNavNums > span {
        height: 25px;
        margin: 0 3px 5px 3px;
        display: inline-block;
        min-width: 30px;
        text-align: center;
        border-radius: 0 0 3px 3px;
        cursor: pointer;
        -moz-transition: all ease-in-out 400ms;
        -o-transition: all ease-in-out 400ms;
        -webkit-transition: all ease-in-out 400ms;
        transition: all ease-in-out 400ms;
    }

        div.pageNavNums > span > a {
            position: relative;
            text-decoration: none;
            color: #fff;
        }


span.pageNavNums-on {
    background-color: #fff;
    color: #119cdd;
    cursor: default !important;
}

div.pageNavNums > span:hover {
    background-color: #fff;
    color: #119cdd;
}

    div.pageNavNums > span:hover > a {
        text-decoration: none;
        color:#119cdd ;
    }

div.pageJunp {
    width: 175px;
    float: left;
    height: 20px;
    margin: 3px 30px 3px 3px;
    padding: 2px;
    line-height: 20px;
    background-color: rgba(255,255,255,.2);
}

    div.pageJunp > input {
        text-align:center;
        color:#119cdd;
        width: 40px;
        height: 20px;
        margin-bottom: 0;
        padding: 0;
        border: none;
        background-color: rgba(255,255,255,.6);
    }

div.pageJump {
    display: inline-block;
}

span#pageJump {
    background-color: #06c;
    font-size: 15px;
    line-height: 15px;
    padding: 2px;
    border-radius: 3px;
    cursor: pointer;
}
