
body {
    margin: 0;
    padding: 50px;
    font-family: "Microsoft YaHei UI",微软雅黑,"Segoe UI", Verdana, Helvetica,黑体, Sans-Serif;
    -ms-transition: all ease 1s;
    -moz-transition: all ease 1s;
    -o-transition: all ease 1s;
    -webkit-transition: all ease 1s;
    transition: all ease 1s;
}

div.mainContainer {
    width: 800px;
    margin: 100px auto auto auto;
    padding: 10px 0 0 0;
    background-color: rgba(255,255,255,.95);
    box-shadow: 5px 10px 80px 5px rgb(150,150,150);
    border-radius: 25px 25px;
    overflow: hidden;
    position:relative;
}

.titleArea {
    width: 800px;
    height: 75px;
    font-size: 50px;
    font-weight: 200;
    text-shadow: 5px 5px 25px #666;
    text-indent: 15px;
    overflow:hidden;
}

    .titleArea > div {
        height:75px;

        line-height:75px;
        overflow:hidden;
    }
    div.return-icon{
        width:90px;
        height:70px;
        overflow:hidden;
        float:left;
    }

.queryArea {
    width: 800px;
    margin: 10px 0 0 0;
    padding: 0;
    height:450px;
    position:relative;
    top:0;
    left:0;
}

.selector {
    background-color: rgb(0, 122, 204);
    width: 220px;
    float: left;
    padding: 15px 0 35px 0;
    height: 400px;
    position: absolute;
    top:0;
    left:0;
}

    .selector > div {
        -ms-transition: all ease 1s;
        -moz-transition: all ease 1s;
        -o-transition: all ease 1s;
        -webkit-transition: all ease 1s;
        transition: all ease 1s;
        cursor: pointer;
        float: right;
        font-size: 30px;
        height: 40px;
        width: 180px;
        text-align: right;
        margin: 20px 0 0 0;
    }

.selectionOn {
    background-color: rgb(188, 224, 255);
}

div.explanationWarper {
    -ms-transition: all ease 1s;
    -moz-transition: all ease 1s;
    -o-transition: all ease 1s;
    -webkit-transition: all ease 1s;
    transition: all ease 1s;
    width:220px;
    position:absolute;
    bottom:0;
    left:0;
    text-align:center;
}
div.explanationIndicatorBox{
    display:inline-block;
    font-size:18px;
    color:rgb(0, 122, 204);
    background-color:#fff;
    width:50px;
    height:20px;
    padding:3px;
    border-radius:11px;
    font-weight:500;
    -moz-transition: all ease 400ms;
    -o-transition: all ease 400ms;
    -webkit-transition: all ease 400ms;
    transition: all ease 400ms;
    overflow:hidden;
}
span.explanationIndicator{
    display:inline-block;
    height:20px;
    width:50px;
    font-size:20px;
    line-height:20px;
}
div.explanationTooltip {
    -moz-transition: all ease 400ms;
    -o-transition: all ease 400ms;
    -webkit-transition: all ease 400ms;
    transition: all ease 400ms;
    position: absolute;
    width: 150px;
    height: 80px;
    background-color: #eee;
    bottom: 63px;
    opacity: 0;
    left: 30px;
    border-radius: 10px;
    box-shadow: #aaa 0 0 10px 3px;
    pointer-events: none;
    cursor:pointer;
    padding:10px;
}
div.explanationTooltip>p{
    font-size:18px;
    line-height:19px;
    color:#111;
    text-indent:1em;
    text-align:left;
    margin:0;
    padding:0;
}
div.explanationIndicatorBox:hover >div.explanationTooltip{
    bottom:43px;
    opacity:1;
}


.formArea {
    margin: 0;
    padding: 15px 15px 35px 15px;
    background-color: rgb(188, 224, 255);
    width: 550px;
    height: 400px;
    overflow: hidden;
    position:absolute;
    left:220px;
    top:0;
}

.formPage {
    height: 450px;
    width: 500px;
    font-size: 20px;
}

.formSet {
    top: 0;
    position: relative;
    margin: 0 30px 20px 30px;
    -moz-transition: all ease 500ms;
    -o-transition: all ease 500ms;
    -webkit-transition: all ease 500ms;
    transition: all ease 500ms;
}

.label {
    display: block;
    border-bottom: rgba(255,255,255,.3) solid 2px;
    position: relative;
    left: -25px;
}

label {
    width: 50px;
    margin: 0 0 0 5px;
}

input[type="text"] {
    height: 25px;
    width: 100%;
    font-size: 20px;
}

input[type="number"] {
    height: 25px;
    width: 100%;
    font-size: 20px;
}

input[type="radio"] {
    height: 15px;
}

input[type="submit"], input[type="reset"] {
    -ms-transition: background ease 250ms;
    -moz-transition: background ease 250ms;
    -o-transition: background ease 250ms;
    -webkit-transition: background ease 250ms;
    transition: background ease 250ms;

    -ms-transition: color ease 250ms;
    -moz-transition: color ease 250ms;
    -o-transition: color ease 250ms;
    -webkit-transition: color ease 250ms;
    transition: color ease 300ms;

    -ms-transition: box-shadow ease 600ms;
    -moz-transition: box-shadow ease 600ms;
    -o-transition: box-shadow ease 600ms;
    -webkit-transition: box-shadow ease 600ms;
    transition: box-shadow ease 600ms;

    display: inline-block;
    border: none;
    background: #007acc;
    cursor: pointer;
    font-size: 20px;
    height: 35px;
    width: 70px;
    margin: 5px;
    padding: 5px;
    color: #ffc;
}

    input[type="submit"]:hover, input[type="reset"]:hover {
        background: #229cee;
        color: #eed;
        box-shadow: #004799 0 0 150px;
    }

select {
    height: 25px;
    width: 100%;
    font-size: 18px;
}

.formPageTitle {
    font-size: 35px;
    line-height: 35px;
    border-bottom: rgb(150,150,150) solid 1px;
}

.submitArea {
    text-align: right;
    padding: 5px 15px 0 0;
}

input, select {
    font-family: "Microsoft YaHei UI",微软雅黑,"Segoe UI", Verdana, Helvetica,黑体, Sans-Serif;
}
