<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <connectionStrings>
        <add connectionString="server=localhost;uid=LocalDBU1jyl;pwd=[|QGEiO_J$t{;Database=LocalDB" name="LocalDB" providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <system.web>
        <compilation debug="true" />
    </system.web>
</configuration>
